<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style/survey.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="script/survey-app.js"></script>
		<script src="script/survey-ctrl.js"></script>
    </head>
    <body>
	<!--<div ng-app="myApp" ng-controller="myCtrl" ng-init="test='toto'">-->
	<div ng-app="myApp" ng-controller="myCtrl">
        <div id="instructionbar">
            <div class="instruction">
            <b>Instructions</b> : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lectus felis, euismod quis facilisis et, suscipit vitae enim. Praesent sed ipsum orci. Nullam dolor metus, ullamcorper varius sem eget, hendrerit vulputate tortor.  
            </div>
        </div>
		<div id="leftbar">
			<div class="icon {{x.etat}}" ng-repeat="x in sample"><img src="http://www.gravatar.com/avatar/{{x.identicon}}?s=60&amp;d=identicon" ng-click="selection(x.id)"/></div>
		</div>

		<div id="topbar">
			<div id="player">
				<div class="icon icon_active"><img src="http://www.gravatar.com/avatar/{{current.identicon}}?s=60&amp;d=identicon"/></div>
				<audio controls>					
					<source src="{{current.url}}" type="audio/wav">
				</audio>
			</div>
		</div>

		<div id="main">
			<div class="slider" ng-repeat="x in param">
				<h3> {{x.nom}} </h3>
				<p> {{x.description}} </p>
				<p> {{x.valMin}} ----------------------------------------------------------------------- {{x.valMax}} </p>
			</div>
		</div>
	</div>
	</body>
</html>